.app-table {
    width: 100%;
    table-layout: fixed;
    td {
        max-width: 50vw;
    }
    .table-head,
    .table-row {
        height: 48px;
    }
    .table-head > * {
        white-space: nowrap;
        color: rgba(0,0,0,.54);
        font-size: 12px;
        font-weight: 600;
        padding: 0 10px;
    }
    .table-row:hover {
        background-color: rgba(0,0,0,0.02);
    }
    .table-row > * {
        border-top: 1px solid rgba(0,0,0,.12);
        padding: 0 10px;
        white-space: nowrap;
        position: relative;
    }
    .tablecell-in-one-row {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}
